API_NAME=MASTER_API
API_DOCS=0
API_PORT=8080

DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=123
DB_NAME=db_master

LOKI_URL=http://127.0.0.1:3100

# --openssl rand -base64 32
JWT_SECRET=secret
JWT_EXPIRES_IN=1d

# --openssl rand -base64 24
CRYPTO_SECRET=secret