API_NAME=MASTER_API
API_DOCS=0
API_PORT=8080

DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=123
DB_NAME=db_gadai

JWT_SECRET=secret
JWT_EXPIRES_IN=1d

LOKI_URL=http://127.0.0.1:3100