# API
API_NAME=master
API_DOCS=1
API_PORT=8080

# DATABASE
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=123
DB_NAME=db_master

# LOG
LOG_LEVEL=warn

# LOKI
LOKI_URL=http://127.0.0.1:3100
LOKI_USER=admin
LOKI_PASS=admin

# JWT (openssl rand -base64 32) 
JWT_SECRET=secret
JWT_EXPIRES_IN=1d

# ENCRYPTION (openssl rand -base64 24)
CRYPTO_SECRET=secret